/*.btn-image{
width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
}

.btn2-image{
    width: 48px;
    height: 48px;
    border:5px solid blue;
    cursor:pointer;
}

.linea-or{
  display: flex;
  align-items: center;
  text-align: center;
  color: #555;
  font-weight: bold;
}

.linea-or::before,
.linea-or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}*/

/*
.campo{
    display: flex;
    flex-direction: column;
}*/